<div class="nested-fields">
  <div class="container">

  <h2>Hadith:</h2>
  <%= f.text_area :arabic, :class => "original form-control" %>


  <%= f.check_box :_destroy %>

  <%= link_to_remove_association "remove narration", f %>

  </div>

</div>
