
<h1>
  Collections
</h1>

<hr>

<% HadithCollection.all.each do |c| %>
  <div class="col-lg-4">
    <div class="card-block">
      <h4 class="card-title"><%= c.title %></h4>
      <p class="card-text"></p>
      <a href="/hadith_collections/<%= c.id %>" class="btn btn-primary">Enter</a>
    </div>
  </div>
<% end %>

